* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.non {
  display: none;
}

.container {
  width: 70%;
  margin: auto;
}

.flex {
  display: flex;
}

header .header-top {
  padding: 10px 0px;
  background-color: #0282f9;
}
header .header-top .container {
  text-align: right;
}
header .header-top .container span {
  margin-left: 15px;
  font-size: 12px;
  color: white;
}
header .header-bottom {
  padding: 20px 0px;
}
header .header-bottom .container {
  align-items: center;
  align-content: center;
}
header .header-bottom .container .logo {
  width: 50px;
}
header .header-bottom .container .header-nav li {
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
}
header .jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  height: 350px;
}

main {
  background-color: black;
  padding-top: 30px;
}
main .container {
  flex-wrap: wrap;
}
main .container .single-comic {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}
main .container .single-comic .comic-title {
  text-align: center;
}
main .container .single-comic .comic-title a {
  color: white;
  text-decoration: none;
}
main .main-bottom {
  text-align: center;
  margin: 30px 0px;
}
main .main-bottom span {
  font-weight: bold;
  color: white;
  background-color: #0282f9;
  padding: 10px 5px;
}
main .main-menu {
  background-color: #0282f9;
  padding: 20px 0px;
}
main .main-menu .container .main-menu-item {
  width: 20%;
  align-items: center;
}
main .main-menu .container .main-menu-item .main-menu-logo {
  width: 30%;
}
main .main-menu .container .main-menu-item .main-menu-text {
  color: white;
  font-size: 10px;
}

footer .footer-top {
  background-image: url("../images/footer-bg.jpg");
}
footer .footer-top .container {
  justify-content: space-between;
}
footer .footer-top .container .footer-lists div {
  color: white;
  padding: 10px;
  padding-top: 50px;
}
footer .footer-top .container .footer-lists li {
  list-style-type: none;
}
footer .footer-top .container .footer-img {
  text-align: right;
}
footer .footer-top .container .footer-img img {
  width: 60%;
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .container {
  padding: 20px 0px;
  justify-content: space-between;
}
footer .footer-bottom .container .footer-bottom-left span {
  padding: 10px 5px;
  color: white;
  border: 2px solid #0282f9;
}
footer .footer-bottom .container .footer-bottom-right span {
  color: #0282f9;
}

.main-details-top {
  background-color: white;
  padding: 20px 0px;
}
.main-details-top .container {
  position: relative;
}
.main-details-top .container .logo-details {
  position: absolute;
  top: -300px;
  border: 1px solid white;
}
.main-details-top .container h2 {
  padding: 15px 0px;
}
.main-details-top .container .details-top-left {
  width: 70%;
  padding: 0px 10px;
}
.main-details-top .container .details-top-left .prise-container {
  background-color: #55ba59;
  color: white;
  padding: 5px 3px;
}
.main-details-top .container .details-top-left p {
  padding: 15px 0px;
}
.main-details-top .container .details-top-right {
  width: 30%;
}

.main-details-bottom {
  background-color: #f6f6f6;
  justify-content: space-between;
  padding: 20px 0px;
}
.main-details-bottom .col-left {
  width: 50%;
}
.main-details-bottom .col-left h3 {
  margin-bottom: 10px;
}
.main-details-bottom .col-left .art {
  flex-direction: column;
  flex-wrap: wrap;
}
.main-details-bottom .col-left .art .art-d {
  justify-content: first baseline;
}
.main-details-bottom .col-left .art .art-d div {
  width: 50%;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.main-details-bottom .col-right {
  width: 50%;
}