main{
    background-color: black;
    padding-top: 30px;
    .container{
        flex-wrap: wrap;
        .single-comic{
            width: calc(100% / 6 - 10px);
            margin: 5px;
            .comic-title{
                text-align: center;
                a{
                    color: white; 
                    text-decoration: none;
                }
            }
        }
    }
    .main-bottom{
        text-align: center;
        margin: 30px 0px;
        span{
            font-weight: bold;
            color: white;
            background-color: $primary_color;
            padding: 10px 5px;
        }
    }

    .main-menu{
        background-color: $primary_color;
        padding: 20px 0px;
        .container{
            .main-menu-item{
                width: calc(100% / 5);
                align-items: center;
                .main-menu-logo{
                    width: 30%;
                }
                .main-menu-text{
                    color: white;
                    font-size: 10px;
                }
            }
        }
    }
}