main{
    background-color: black;
    padding: 30px 0px;
    .container{
        flex-wrap: wrap;
        .single-comic{
            width: calc(100% / 6 - 10px);
            margin: 5px;
            .comic-title{
                text-align: center;
                color: white;
            }
        }
    }
    .main-bottom{
        text-align: center;
        margin: 30px 0px;
        span{
            font-weight: bold;
            color: white;
            background-color: $primary_color;
            padding: 10px 5px;
        }
    }

    
}