.main-details-top{
    background-color: white;
    .container{
        position: relative;
        .logo-details{
            position: absolute;
            top: -300px;
            border: 1px solid white;
        }
        h2{
        }
    }
}